
<%= form_for @signup_form, url: users_path do |f| %>  
    <% if @signup_form.errors.any? %>
    <div id="error_explanation">
    <h2><%= pluralize(@signup.errors.count, "error") %> prohibited this user from being saved:</h2>
    <ul>
    <ul><% @signup_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
    </ul>
    </ul>
    <% end %>

    </div>
    <% end %>
    
    <div class="field"><%= f.label :email %>

    <%= f.text_field :email %></div>
    <div class="field"><%= f.label :twitter %>

    <%= f.text_field :twitter %></div>
    <div class="field"><%= f.label :github %>

    <%= f.text_field :github %></div>
    <div class="actions"><%= f.submit %></div>
    <% end %>
